{% for accesslist in data.accesslists %}
xxx {{accesslist.aclname}}
{{accesslist.aclcommand}} {{accesslist.protocol}} {{accesslist.source}} {{accesslist.sourcewildcard}} {{accesslist.destination}} {{accesslist.destwildcard}}
ip access-list extended {{accesslist.aclname}}
{% endfor %}